/*
this scss file isn't compilable with this work flow i used IDE watcher to compile it
*/
/*----------------------------------
  colors2E2E2E
----------------------------------*/
/*----------------------------------
  framework
----------------------------------*/
* {
  box-sizing: border-box !important; }

.button-link .btn-content:focus, .button-link:focus, .form-input input {
  outline: none;
  box-shadow: none;
  border: none; }

.button-link {
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  color: #E80E84;
  transition: all ease-in-out .1s;
  position: relative;
  text-decoration: none; }
  .button-link .btn-content {
    display: block;
    position: relative;
    overflow: hidden; }
    .button-link .btn-content .effect {
      position: absolute;
      z-index: 334;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(243, 243, 243, 0);
      transition: all .3s ease-in; }
      .button-link .btn-content .effect.active-effect {
        background-color: rgba(243, 243, 243, 0.2); }
  .button-link:focus {
    text-decoration: none; }
    .button-link:focus .btn-content {
      box-shadow: 0 0 30px 3px #E80E84; }
  .button-link .material-icons {
    font-size: 1.8rem; }

.form-input {
  position: relative;
  padding: .3rem; }
  .form-input .material-icons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    color: #E80E84;
    opacity: .8; }
  .form-input.dirty label {
    font-size: .6rem;
    transform: translate3d(0, -110%, 0); }
  .form-input.dirty .active {
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 12px 1px rgba(232, 14, 132, 0.6); }
  .form-input .tail {
    transition: .3s ease-in-out width;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #E80E84;
    width: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .form-input .tail.stationary {
      width: 100%;
      opacity: .4; }
  .form-input label {
    transition: all ease .4s;
    position: absolute;
    display: block;
    color: #F3F3F3;
    font-weight: 300;
    font-size: .8rem; }
  .form-input input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #fff; }

body {
  margin: 0;
  padding-top: 63px;
  font-family: 'Roboto', sans-serif; }

.main-header {
  background-color: #2E2E2E;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }
  .main-header .side-nav-toggle .button-link .btn-content {
    padding: 1rem; }
  .main-header h1 {
    text-align: center;
    margin: 0;
    color: #F3F3F3;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: .2rem;
    letter-spacing: .02rem; }

.map {
  width: 100%;
  height: 100%; }

/*----------------------------------
  main header
----------------------------------*/
.main-header {
  position: absolute;
  width: 100%;
  z-index: 8;
  top: 0; }
  .main-header .side-nav-toggle .button-link .btn-content, .main-header .map-tools .button-link .btn-content {
    padding: 1rem; }
  .main-header .side-nav-toggle .button-link .material-icons, .main-header .map-tools .button-link .material-icons {
    transition: all .3s ease-in-out; }
  .main-header .side-nav-toggle .button-link.close .material-icons, .main-header .map-tools .button-link.close .material-icons {
    transform: rotate(180deg); }
  .main-header .side-nav-toggle .button-link.menu .material-icons, .main-header .map-tools .button-link.menu .material-icons {
    transform: rotate(0deg); }
  .main-header .app-tools {
    display: inline; }

/*----------------------------------
  main
----------------------------------*/
main {
  height: calc(100vh - 63px);
  display: flex;
  position: relative;
  z-index: 5;
  /*----------------------------------
  sidebar
----------------------------------*/
  /*----------------------------------
    aside
  ----------------------------------*/ }
  main .side-wrapper {
    height: 100%;
    background-color: #2E2E2E;
    width: 240px;
    position: absolute;
    z-index: 15;
    transition: transform ease-in .3s;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }
    main .side-wrapper.hidden {
      transform: translate3d(-100%, 0, 0); }
      main .side-wrapper.hidden aside {
        visibility: hidden; }
  main aside {
    position: absolute;
    padding: 1rem 0;
    width: 100%;
    height: 100%; }
    main aside nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main aside nav > div:not(.border) {
        text-align: center;
        width: 40%;
        transition: all .4s ease; }
        main aside nav > div:not(.border) .button-link {
          display: block;
          width: 100%; }
          main aside nav > div:not(.border) .button-link .btn-content {
            padding: .3rem; }
        main aside nav > div:not(.border).active {
          background-color: #3a3a3a; }
      main aside nav .border {
        transition: all .5s ease-in-out;
        position: absolute;
        width: 40%;
        height: 2px;
        background-color: #E80E84;
        box-shadow: 0 0 10px 1px rgba(232, 14, 132, 0.4);
        left: 10%;
        bottom: 0; }
        main aside nav .border.right {
          transform: translate3d(100%, 0, 0); }
    main aside .content {
      padding: 1rem;
      /*----------------------------------
        locaions list
      ----------------------------------*/ }
      main aside .content .locations ul {
        margin-top: 1rem;
        padding: 0;
        list-style: none;
        max-height: 500px;
        overflow: auto; }
        main aside .content .locations ul li .button-link .btn-content {
          margin-bottom: .3rem; }
        main aside .content .locations ul li .button-link .material-icons {
          padding: 0; }
        main aside .content .locations ul li .list-content {
          padding: .5rem .3rem;
          background-color: #3a3a3a;
          font-size: .8rem;
          color: #F3F3F3;
          text-transform: capitalize;
          display: flex;
          justify-content: space-between;
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }
          main aside .content .locations ul li .list-content .icon {
            width: 7%; }
            main aside .content .locations ul li .list-content .icon i {
              font-size: 1.3rem;
              color: #E80E84; }
          main aside .content .locations ul li .list-content .loc-title {
            text-align: center;
            width: 100%;
            font-size: .75rem;
            font-weight: 300; }

/*----------------------------------
  map
----------------------------------*/
.map-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  transition: width ease-in .3s; }
  .map-wrapper.contraction {
    width: calc(100% - 240px); }

/*----------------------------------
  modal
----------------------------------*/
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center; }
  .modal-overlay .modal {
    animation: fadeIn .5s ease-in-out;
    height: 75%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 20px 1px rgba(0, 0, 0, 0.22);
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column; }
    .modal-overlay .modal > div {
      width: 100%; }
    .modal-overlay .modal .modal-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem 1rem; }
      .modal-overlay .modal .modal-header .modal-close {
        margin-left: auto; }
        .modal-overlay .modal .modal-header .modal-close .button-link {
          color: #F3F3F3; }
          .modal-overlay .modal .modal-header .modal-close .button-link .btn-content {
            padding: .2rem 1rem; }
      .modal-overlay .modal .modal-header .modal-title {
        width: 100%;
        color: #F3F3F3; }
        .modal-overlay .modal .modal-header .modal-title h3 {
          text-align: center;
          font-size: 1.4rem;
          margin: 0;
          text-transform: capitalize; }
    .modal-overlay .modal .modal-body {
      max-height: 100%;
      overflow-y: auto; }
    .modal-overlay .modal .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: .5rem 1rem; }
      .modal-overlay .modal .modal-footer div {
        box-sizing: border-box;
        height: 45px; }
        .modal-overlay .modal .modal-footer div .button-link .btn-content {
          width: 60px;
          line-height: 45px;
          text-align: center; }
      .modal-overlay .modal .modal-footer .ok .button-link {
        color: green; }

/*----------------------------------
  animations
----------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: .7;
    transform: translate3d(-1%, -1%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
#pano {
  width: 400px;
  height: 400px; }

/*# sourceMappingURL=index.css.map */
