/*
this scss file isn't compilable with this work flow i used IDE watcher to compile it
*/
/*----------------------------------
  colors2E2E2E
----------------------------------*/
$mainColor: #2E2E2E;
$secColor: #3a3a3a;
$lightColor: #F3F3F3;
$color: #E80E84;
$primary: green;

/*----------------------------------
  framework
----------------------------------*/
$headerHight: 63px;
* {
  box-sizing: border-box !important;

}

%clearFocus {
  outline: none;
  box-shadow: none;
  border: none;
}

// components
.button-link {
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  color: $color;
  transition: all ease-in-out .1s;
  position: relative;
  text-decoration: none;
  .btn-content {
    display: block;
    position: relative;
    //overflow: hidden;
    .effect {
      position: absolute;
      z-index: 334;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($lightColor, 1);
      transition: all .3s ease-in;
      &.active-effect {
        background-color: transparentize($lightColor, .8);
        box-shadow: 0px 0px 15px transparentize(white, .9);
      }
    }
    &:focus {
      @extend %clearFocus;
    }
  }
  &:focus {
    .btn-content {
      box-shadow: 0 0 30px 3px $color;
    }
    text-decoration: none;
    @extend %clearFocus;
  }
  .material-icons {
    font-size: 1.8rem;
  }
  // if it is a child of header element
}

.form-input {
  .material-icons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    color: $color;
    opacity: .8;
  }
  position: relative;
  padding: .3rem;
  &.dirty {
    label {
      font-size: .6rem;
      transform: translate3d(0, -110%, 0);
    }
    .active {
      width: 100%;
      z-index: 2;
      box-shadow: 0 0 12px 1px transparentize($color, .4);
    }
  }
  .tail {
    transition: .3s ease-in-out width;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $color;
    width: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &.stationary {
      width: 100%;
      opacity: .4;
    }
  }
  label {
    transition: all ease .4s;
    position: absolute;
    display: block;
    color: $lightColor;
    font-weight: 300;
    font-size: .8rem;

  }

  input {
    display: block;
    width: 90%;
    border: none;
    @extend %clearFocus;
    background-color: transparent;
    color: #fff;
  }

}

body {
  margin: 0;
  padding-top: 63px;
  @media screen and (max-width: 920px) {
    padding-top: 50px;

  }

  @media screen and (max-width: 320px) {
    padding-top: 45px;
  }

  font-family: 'Roboto', sans-serif;
}

.main-header {
  overflow: hidden;
  position: relative;
  background-color: $mainColor;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  .side-nav-toggle {
    position: absolute;
    left: 0;
    .button-link {
      .btn-content {
        padding: 1rem;
      }
    }
  }

  > div {
    //width: (100%/3);
  }
  h1 {
    text-align: center;
    margin: 0;
    color: $lightColor;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: .2rem;
    letter-spacing: .02rem;
    @media (max-width: 920px) {
      font-size: 1.6rem;
    }
    @media (max-width: 450px) {
      font-size: 1.3rem;
    }
  }
}

.map {
  width: 100%;
  height: 100%;
}

/*----------------------------------
  main header
----------------------------------*/
.main-header {
  position: absolute;
  width: 100%;
  z-index: 8;
  top: 0;
  height: 63px;
  @media screen and (max-width: 920px) {
    height: 50px;

  }

  @media screen and (max-width: 320px) {
    height: 45px;

  }

  .side-nav-toggle, .map-tools {
    .button-link {
      .btn-content {
        padding: 1rem;
      }
      .material-icons {
        transition: all .3s ease-in-out;
      }
      &.close {
        .material-icons {
          transform: rotate(180deg);
        }
      }
      &.menu {
        .material-icons {
          transform: rotate(0deg);
        }

      }
    }
  }
  .app-tools {
    display: inline;
  }
}

/*----------------------------------
  main
----------------------------------*/
main {
  height: calc(100vh - 63px);
  @media screen and (max-width: 920px) {
    height: calc(100vh - 50px);

  }

  @media screen and (max-width: 320px) {
    height: calc(100vh - 40px);
  }

  display: flex;
  position: relative;
  z-index: 5;
  /*----------------------------------
  sidebar
----------------------------------*/
  .side-wrapper {
    height: 100%;
    background-color: $mainColor;
    width: 240px;
    position: absolute;
    z-index: 15;
    transition: transform ease-in .3s;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    &.hidden {
      aside {
        visibility: hidden;
      }
      transform: translate3d(-100%, 0, 0);
    }
  }
  /*----------------------------------
    aside
  ----------------------------------*/
  aside {
    position: absolute;
    width: 100%;
    height: 100%;
    .tools, .filter {
      padding: 1rem;
    }
    nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      > div:not(.border) {
        .button-link {
          display: block;
          width: 100%;
          .btn-content {
            padding: .3rem;
          }
        }
        text-align: center;
        width: 50%;
        transition: all .4s ease;
        &.active {
          background-color: $secColor;

        }
      }
      .border {
        transition: all .5s ease-in-out;
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: $color;
        box-shadow: 0 0 10px 1px transparentize($color, .6);
        left: 0;
        bottom: 0;
        &.right {
          transform: translate3d(100%, 0, 0);
        }
      }
    }
    .filter {
      height: 4rem;
      display: flex;
      align-items: center;
      > div {
        width: 100%;
      }
    }
    .content {
      /*----------------------------------
        locaions list
      ----------------------------------*/
      .locations {
        position: relative;
        width: 100%;
        ul {
          padding: 0 1rem;
          margin-top: 1rem;;
          list-style: none;
          li {
            animation: slideFade .5s ease-in-out;
            .button-link {
              margin-bottom: .3rem;
              .btn-content {
              }
              .material-icons {
                padding: 0;
              }
            }
            .list-content {
              padding: .5rem .3rem;
              background-color: $secColor;
              font-size: .8rem;
              color: $lightColor;
              text-transform: capitalize;
              display: flex;
              justify-content: space-between;
              box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 5px 8px 0px rgba(0, 0, 0, 0.14),
              0px 1px 14px 0px rgba(0, 0, 0, 0.12);
              .icon {
                i {
                  font-size: 1.3rem;
                  color: $color;
                }
                width: 7%;
              }
              .loc-title {
                text-align: center;
                width: 100%;
                font-size: .75rem;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

}

/*----------------------------------
  map
----------------------------------*/

.map-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  transition: width ease-in .3s;
  &.contraction {
    width: calc(100% - 240px);
  }
}

/*----------------------------------
  modal
----------------------------------*/
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;

  .modal {
    &:focus {
      outline: none;
    }
    &.fade {
      animation: fadeOut .4s ease-in-out;
    }
    animation: fadeIn .5s ease-in-out;
    //height: 75%;
    box-shadow: -12px 14px 20px -1px rgba(0, 0, 0, 0.2), 7px 12px 20px 0px rgba(0, 0, 0, 0.14), 7px 7px 20px 0px rgba(0, 0, 0, 0.22);
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    > div {
      width: 100%;
    }
    .modal-header {
      border-bottom: 1px solid $secColor;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      padding: .5rem 1rem;
      .modal-close {
        position: absolute;
        right: .3rem;
        .button-link {
          .btn-content {
            padding: .6rem;
            .material-icons {
              font-size: 1rem;
            }
          }
          color: $lightColor;
        }
      }
      .modal-title {
        width: 100%;
        color: $lightColor;
        h3 {
          text-align: center;
          font-size: 1.4rem;
          @media (max-width: 920px) {
            font-size: 1.2rem;
          }
          @media (max-width: 450px) {
            font-size: 1.1rem;

          }
          margin: 0;
          text-transform: capitalize;
        }

      }

    }
    .modal-body {
      #pano {
        width: 90%;
        height: 300px;
      }
      border-bottom: 1px solid $secColor;
      height: 400px;
      width: 500px;

      overflow-y: auto;
      .place-over-view {
        padding: 1rem .5rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;

        .data {
          width: 50%;
          align-self: flex-start;
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
              width: 100%;
              padding: .2rem;
              color: $lightColor;
              span {
                text-transform: uppercase;
                font-size: .6rem;
                font-weight: 600;
              }
              p {
                display: inline-block;
                padding: 0;
                margin: 0;
                font-size: .8rem
              }
            }
          }
        }

      }
      .img-wrapper {
        width: 100%;
        img {
          width: 100%
        }
      }
      @media all and (max-width: 700px) {
        height: 400px;
        width: 300px;
        .place-over-view {
          flex-wrap: wrap;
          .data {
            width: 100%;
            padding-bottom: 1rem;
          }
        }
        #pano {
          width: 100%;
        }
      }
    }
    .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 .2rem;
      div {
        box-sizing: border-box;
        height: 45px;
        .button-link {
          .btn-content {
            width: 60px;
            line-height: 45px;
            text-align: center;
          }
        }

      }
      .ok {
        .button-link {
          color: $primary;
        }
      }
    }
  }
}

.alertBody {
  width: 400px;
  height: 60px;
  position: fixed;
  top: 100px;
  right: 50%;
  z-index: 666;

  //animation: alert .6s infinite ease-in-out;

  .alert {
    cursor: pointer;
    transition: all 1s ease-in-out;
    opacity: 0;
    box-shadow: -12px 14px 20px -1px rgba(0, 0, 0, 0.2), 7px 12px 20px 0px rgba(0, 0, 0, 0.14), 7px 7px 20px 0px rgba(0, 0, 0, 0.22);
    background-color: $mainColor;
    display: flex;
    align-items: center;
    border-radius: .25rem;
    padding: .75rem 0;
    .message {
      margin-left: auto;
      width: 85%;
      color: $lightColor;
      font-weight: 300;
      p {
        margin: 0;
        padding: 0;
      }
    }
    .icons {
      margin-right: auto;
      color: $color;
    }
  }
  &.visable {
    .alert {
      opacity: 1;
    }
  }
}

/*----------------------------------
  animations
----------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: .5;
    transform: translate3d(-1%, -1%, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)

  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0;
    transform: translate3d(-1%, -1%, 0)

  }
}

@keyframes slideFade {
  0% {
    opacity: .3;
    transform: translate3d(0, -10%, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)

  }
}

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 750px) {

}

@media screen and (max-width: 320px) {

}