/*
this scss file isn't compilable with this work flow i used IDE watcher to compile it
*/
/*----------------------------------
  colors2E2E2E
----------------------------------*/
$mainColor: #2E2E2E;
$secColor: #3a3a3a;
$lightColor: #F3F3F3;
$color: #E80E84;
$primary: green;

/*----------------------------------
  framework
----------------------------------*/
* {
  box-sizing: border-box !important;

}

%clearFocus {
  outline: none;
  box-shadow: none;
  border: none;
}

// components
.button-link {
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: none;
  display: block;
  padding: 0;
  color: $color;
  transition: all ease-in-out .1s;
  position: relative;
  text-decoration: none;
  .btn-content {
    display: block;
    position: relative;
    overflow: hidden;
    .effect {
      position: absolute;
      z-index: 334;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($lightColor, 1);
      transition: all .3s ease-in;
      &.active-effect {
        background-color: transparentize($lightColor, .8);
      }
    }
    &:focus {
      @extend %clearFocus;
    }
  }
  &:focus {
    .btn-content {
      box-shadow: 0 0 30px 3px $color;
    }
    text-decoration: none;
    @extend %clearFocus;
  }
  .material-icons {
    font-size: 1.8rem;
  }
  // if it is a child of header element
}

.form-input {
  .material-icons {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    color: $color;
    opacity: .8;
  }
  position: relative;
  padding: .3rem;
  &.dirty {
    label {
      font-size: .6rem;
      transform: translate3d(0, -110%, 0);
    }
    .active {
      width: 100%;
      z-index: 2;
      box-shadow: 0 0 12px 1px transparentize($color, .4);
    }
  }
  .tail {
    transition: .3s ease-in-out width;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $color;
    width: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    &.stationary {
      width: 100%;
      opacity: .4;
    }
  }
  label {
    transition: all ease .4s;
    position: absolute;
    display: block;
    color: $lightColor;
    font-weight: 300;
    font-size: .8rem;

  }

  input {
    display: block;
    width: 100%;
    border: none;
    @extend %clearFocus;
    background-color: transparent;
    color: #fff;
  }

}

body {
  margin: 0;
  padding-top: 63px;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  background-color: $mainColor;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 5px 8px 0px rgba(0, 0, 0, 0.14),
  0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  .side-nav-toggle {
    .button-link {
      .btn-content {
        padding: 1rem;
      }
    }
  }

  > div {
    //width: (100%/3);
  }
  h1 {
    text-align: center;
    margin: 0;
    color: $lightColor;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: .2rem;
    letter-spacing: .02rem;
  }
}

.map {
  width: 100%;
  height: 100%;
}

/*----------------------------------
  main header
----------------------------------*/
.main-header {
  position: absolute;
  width: 100%;
  z-index: 8;
  top: 0;
  .side-nav-toggle, .map-tools {
    .button-link {
      .btn-content {
        padding: 1rem;
      }
      .material-icons {
        transition: all .3s ease-in-out;
      }
      &.close {
        .material-icons {
          transform: rotate(180deg);
        }
      }
      &.menu {
        .material-icons {
          transform: rotate(0deg);
        }

      }
    }
  }
  .app-tools {
    display: inline;
  }
}

/*----------------------------------
  main
----------------------------------*/
main {
  height: calc(100vh - 63px);
  display: flex;
  position: relative;
  z-index: 5;
  /*----------------------------------
  sidebar
----------------------------------*/
  .side-wrapper {
    height: 100%;
    background-color: $mainColor;
    width: 240px;
    position: absolute;
    z-index: 15;
    transition: transform ease-in .3s;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    &.hidden {
      aside {
        visibility: hidden;
      }
      transform: translate3d(-100%, 0, 0);
    }
  }
  /*----------------------------------
    aside
  ----------------------------------*/
  aside {
    position: absolute;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    nav {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      > div:not(.border) {
        .button-link {
          display: block;
          width: 100%;
          .btn-content {
            padding: .3rem;
          }
        }
        text-align: center;
        width: 40%;
        transition: all .4s ease;
        &.active {
          background-color: $secColor;

        }
      }
      .border {
        transition: all .5s ease-in-out;
        position: absolute;
        width: 40%;
        height: 2px;
        background-color: $color;
        box-shadow: 0 0 10px 1px transparentize($color, .6);
        left: 10%;
        bottom: 0;
        &.right {
          transform: translate3d(100%, 0, 0);
        }
      }
    }
    .content {
      padding: 1rem;
      /*----------------------------------
        locaions list
      ----------------------------------*/
      .locations {
        ul {
          margin-top: 1rem;
          padding: 0;
          list-style: none;
          max-height: 500px;
          overflow: auto;
          li {
            .button-link {
              .btn-content {
                margin-bottom: .3rem;
              }
              .material-icons {
                padding: 0;
              }
            }
            .list-content {
              padding: .5rem .3rem;
              background-color: $secColor;
              font-size: .8rem;
              color: $lightColor;
              text-transform: capitalize;
              display: flex;
              justify-content: space-between;
              box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 5px 8px 0px rgba(0, 0, 0, 0.14),
              0px 1px 14px 0px rgba(0, 0, 0, 0.12);
              .icon {
                i {
                  font-size: 1.3rem;
                  color: $color;
                }
                width: 7%;
              }
              .loc-title {
                text-align: center;
                width: 100%;
                font-size: .75rem;
                font-weight: 300;
              }
            }
          }
        }
      }
    }
  }

}

/*----------------------------------
  map
----------------------------------*/

.map-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  transition: width ease-in .3s;
  &.contraction {
    width: calc(100% - 240px);
  }
}

/*----------------------------------
  modal
----------------------------------*/
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;

  .modal {
    animation: fadeIn .5s ease-in-out;
    height: 75%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 20px 1px rgba(0, 0, 0, 0.22);
    background-color: $secColor;
    display: flex;
    flex-direction: column;
    > div {
      width: 100%;
    }
    .modal-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .5rem 1rem;
      .modal-close {
        margin-left: auto;
        .button-link {
          .btn-content {
            padding: .2rem 1rem;
          }
          color: $lightColor;
        }
      }
      .modal-title {
        width: 100%;
        color: $lightColor;
        h3 {
          text-align: center;
          font-size: 1.4rem;
          margin: 0;
          text-transform: capitalize;
        }

      }

    }
    .modal-body {
      max-height: 100%;
      overflow-y: auto;
    }
    .modal-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: .5rem 1rem;
      div {
        box-sizing: border-box;
        height: 45px;
        .button-link {
          .btn-content {
            width: 60px;
            line-height: 45px;
            text-align: center;
          }
        }

      }
      .ok {
        .button-link {
          color: $primary;
        }
      }
    }
  }
}

/*----------------------------------
  animations
----------------------------------*/
@keyframes fadeIn {
  0% {
    opacity: .7;
    transform: translate3d(-1%, -1%, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)

  }
}